body{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 10;
  text-align: center;
  margin: 0;
}
h1{
  font-size: 64px;
}
.footer{
  background-color: #fca300;
  text-align: center;
}
#footerElements{
  margin: auto;
  padding: 100px;
}
#footerElements p{
  color: #FFFFFF;
  font-size: 16px;
}
#footerElements hr{
  border: 1px solid #FFFFFF;
  margin-bottom: 100px;
}
#facebook {
  display: inline-block;
  margin-right: 30px;
}
#instagram {
  display: inline-block;
}
@import url('https://fonts.googleapis.com/css?family=Pacifico');
.xop-section {
	max-width: 960px;
	margin: 0 auto;
	padding: 6% 2%;
}
.xop-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}
.xop-grid:after {
	clear: both;
}
.xop-grid:after, .xop-box:before {
	content: '';
	display: table;
}
.xop-grid li {
	width: 328px;
	height: 328px;
	display: inline-block;
	margin: 20px;
}
.xop-box {
	width: 90%;
	height: 100%;
	position: relative;
	cursor: pointer;
    border-radius: 10px;
    -webkit-transition: 0.3s ease-in-out,
    -webkit-transform 0.3s ease-in-out;
	-moz-transition:  0.3s ease-in-out,
    -moz-transform 0.3s ease-in-out;
    transition: all 0.3s ease-in-out,
    transform 0.3s ease-in-out, ;
}
.xop-box:hover {
	transform: scale(1.05);
}
.xop-img-1 {
	background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), /* bottom, image */
	url(../images/paint.jpg);
}
.xop-img-2 {
	background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), /* bottom, image */
	url(../images/soap.jpg);
}
.xop-img-3 {
	background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), /* bottom, image */
	url(../images/flower.jpg);
}
.xop-img-4 {
	background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), /* bottom, image */
	url(../images/feather.jpg);
}
.xop-info {
	position: absolute;
	width: inherit;
	height: inherit;
}
.xop-info h3 {
	font-family: 'Pacifico', cursive;
	font-weight: 400;
	color: #fff;
	font-size: 42px;
	margin: 0 30px;
	padding: 100px 0 0 0;
	line-height: 1.5;
}
.xop-info p {
	font-family: 'Source Sans Pro', sans-serif;
	color: #fff;
	padding: 4px 5px;
	margin: 0 30px;
	font-size: 14px;
	line-height: 2;
}
.ver{
  font-size: 10px;
  color: #2F4F4F;
  margin-bottom: 0;
}
.navBar{
  width: 100%;
  height: 100px;
  background-color: #008B8B;
  position: sticky;
  top: 0;
}
.list{
  margin: 0;
  margin-right: 60px;
  padding: 0;
  height: 100%;
  text-align: center;
}
.menu li{
  margin: 0;
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
  list-style: none;
  display: inline-block;
  font-size: 0.5cm ;
  font-weight: 700;
  margin-top: 1cm;
  color: #FFFFFF;
}
.menu{
  float: right;
  height: 100%;
}
.logo{
  float: left;
  height: 100px;
  margin: auto;
  margin-left: 2.5%;
}
.logo img{
  width: 100px;
  height: 100px;
  float: left;
}
.logo p{
  font-weight: 50;
  margin: auto;
  margin-top: 0.8cm;
  float: right;
  width: 300px;
  color: #FFFFFF;
}
.logo a{
  height: 100px;
}
.menu li:hover{
  color: #DCDCDC;
}
.black{
  transition: 2s;
  background-color: rgba(0,139,139,0.4);
}
.menu img{
  width: 20px;
  height: 20px;
}
.middle{
  position: inherit;
  top: 50%;
  left: 50%;
  transform: translate(50%,-50%);
  margin-top: 10px;
  float: right;
}
.input{
  width: 25px;
  height: 25px;
  background: none;
  border-radius: 50%;
  border: 3px solid #fff;
  box-sizing: border-box;
  outline: none;
  transition: width 0.4s ease-in-out,
              border-radius 0.8s ease-in-out,
              padding 0.2s;
  transition-delay: 0.4s;
  color: white;
  font-size: 16px;
  font-weight: 600;
}
.onclicked{
  width: 120px;
  border-radius: 0;
  padding-right: 15px;
}
.btn{
  position: absolute;
  width: 20px;
  height: 20px;
  top:0;
  right: 0;
  box-sizing: border-box;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn::before{
  content: "";
  width: 3px;
  height: 20px;
  background: white;
  position: absolute;
  transform: rotate(-45deg);
  bottom: -18px;
  right: -6px;
  transition: 0.3s;
}
.close::before,.close::after{
  content: "";
  width: 3px;
  height: 16px;
  background: white;
  position: absolute;
  bottom: 0px;
  right: 10px;
}
.close::before{
    transform: rotate(-45deg);
}
.close::after{
    transform: rotate(45deg);
}
@media only screen and (max-width: 1349px){
  .hide{display: none;},
  .menu{width: 40%;},
  .logo{width: 20%;},
  .list{width: 300px;}
}
@media only screen and (min-width: 1349px) {
  .hamburger{display: none;}
}
.btn2{
  position: relative;
  width: 40px;
  height: 35px;
  border: 0;
  border-top: 4px solid #FFFFFF;
  background: transparent;
  padding-bottom: 20px;
  cursor: pointer;
  transition: 0.3s transform linear;
}
.btn2::before, .btn2::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-top: 4px solid #FFFFFF;
  transform: translateY(11px);
}
.btn2::after{
  transform: translateY(25px);
  transition: 0.3s transform linear;
}
.btn2:focus{
  transform: rotate(45deg);
  border: none;
}
.btn2:focus::after{
  transform: rotate(-90deg) translateX(-11px);
}
