body{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 10;
  text-align: center;
  margin: 0;
}
h1{
  font-size: 64px;
}
hr{
  display: block;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1px;
  margin-bottom: 1px;
  border-style: inset;
  border-width: thin;
}
.footer{
  background-color: #fca300;
  text-align: center;
}
#footerElements{
  margin: auto;
  padding: 100px;
}
#footerElements p{
  color: #FFFFFF;
  font-size: 16px;
}
#footerElements hr{
  border: 1px solid #FFFFFF;
  margin-bottom: 100px;
}
#facebook {
  display: inline-block;
  margin-right: 30px;
}
#instagram {
  display: inline-block;
}
.ver{
  font-size: 10px;
  color: #2F4F4F;
  margin-bottom: 0;
}
.navBar{
  width: 100%;
  height: 100px;
  background-color: #008B8B;
  position: sticky;
  top: 0;
}
.list{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
.menu li{
  margin: 0;
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
  list-style: none;
  display: inline-block;
  font-size: 0.5cm ;
  font-weight: 700;
  margin-top: 1cm;
  color: #FFFFFF;
}
.menu{
  float: right;
  height: 100%;
}
.logo{
  float: left;
/*  width: 420px; */
  height: 100px;
  margin: auto;
  margin-left: 2.5%;
  margin-right: 0;
}
.logo img{
  width: 100px;
  height: 100px;
  float: left;
}
.logo p{
  font-weight: 50;
  margin: auto;
  margin-top: 0.8cm;
  float: right;
  width: 300px;
  color: #FFFFFF;
}
.logo a{
  height: 100px;
}
.menu li:hover{
  color: #7CFC00;
}
.black{
  transition: 2s;
  background-color: rgba(0,139,139,0.4);
}
.menu img{
  width: 20px;
  height: 20px;
}
.list li{
  float: left;
}
.searchBox{
  float: right;
}
.input{
  width: 20px;
  height: 20px;
  background: none;
  border-radius: 50%;
  border: 2px solid #fff;
  box-sizing: border-box;
  outline: none;
/*  transition: width 0.4s ease-in-out,
              border-radius 0.8s ease-in-out,
              padding 0.2s;
  transition-delay: 0.5s; */
}
.przycisk{
  position: inherit;
  transform: translate(-100%,-10%);
  width: 20px;
  height: 20px;
  top: 0;
  right: 0;
  box-sizing: border-box;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.przycisk::before{
  content: "";
  width: 2px;
  height: 10px;
  background: #FFFFFF;
  position: absolute;
  transform: rotate(-45deg);
  bottom: -6px;
  right: -1px;
/*  transition: 0.3s; */
}
.close::before,.close::after{
  content: "";
  width: 2px;
  height: 15px;
  background: #FFFFFF;
  position: absolute;
  transform: rotate(-45deg);
  bottom: -6px;
  right: -1px;
}
.wyszukaj{
  width: 70px;
}
.onclicked{
  width: 150px;
  border-radius: 0;
  font-weight: 500;
  font-family: 'Ubuntu', sans-serif;
  color: #FFFFFF;
  padding-right: 20px;
}
.close{
  position: sticky;
  padding-right: 12px;
  transform: translate(470%,-183%);
}
.close::before{
  transform: rotate(-45deg);
}
.close::after{
  transform: rotate(45deg);
}
.marg{
  margin: 0;
  margin-right: 80px;
}
@media only screen and (max-width: 1349px){
  .hide{display: none;},
  .menu{width: 40%;},
  .logo{width: 20%;}
}
